
html {
    scroll-behavior: smooth;

    box-sizing: border-box;

    font-size: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

.sistemFont {
    font: 500 20px/1.2 Arial, 'Helvetica', sans-serif;
    font-stretch: ultra-expanded;
}